.boards{
  display:flex;
}

.single-board{
  margin:50px;
  width:300px;
  min-height:500px;
  padding: 0 30px;
}

.player{
  border:2px solid rgb(160, 53, 53);
  border-radius:5px;
  text-align:center;
  font-size: 20px;
  cursor: grabbing ;
}