.current-time{
  text-align: center;
  border: 2px solid black;
  
}

.current-game{
  margin: 5px 0;
  border: 2px solid black;
  text-align:center;
  display:flex;
  flex-wrap: wrap;
  &-column{
    text-align: center;
  }
}

.current-input{
  border: 2px solid black;
}